# Jupyter Notebook
.ipynb_checkpoints

# artefacts
data/
models/
output/*.pth
output/*.log
output/bert-base*
output/roberta-base*
output/eval/*.json
output/eval/*.csv
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/

.DS_Store
__pycache__

